#searchBtn{
    display: none;
}

@media screen and (max-device-width: 768px) and (orientation: portrait) {
    #searchBtn{
        display: inline;
    }
}

@media screen and (max-device-height: 480px) and (orientation: landscape) {
    #searchBtn{
        display: inline;
    }
}